/**
    copyright (c) 2004
    the icecube collaboration
*/

#include <map>
#include <iostream>
#include <string>
#include <algorithm>
#include <iterator>
using namespace std;

class Particle
{
public:
  double mass;
};

main()
{
  map<string,Particle> m;

  m["Electron"].mass = 0.000511;
  m["Muon"].mass = 0.1056;
  m["Tau"].mass = 1.777;  
  m["Proton"].mass = 0.938;
  m["Neutron"].mass = 0.940;

  for (map<string,Particle>::iterator i = m.begin();
       i != m.end();
       i++)
    {
      cout << "Particle:" << i->first << "\tmass:" << i->second << endl;
    }

}

